In [18]:
import boto3
import pandas as pd
import numpy as np

In [51]:
data = pd.read_csv('./block_12 - Copy (2).csv')
data[:5] # Show the first five lines

C:\Users\Foxy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

       LCLid                         tstp energy(kWh/hh)
0  MAC000291  2012-03-02 09:30:00.0000000         1.158
1  MAC000291  2012-03-02 10:00:00.0000000         1.499
2  MAC000291  2012-03-02 10:30:00.0000000         1.433
3  MAC000291  2012-03-02 11:00:00.0000000          0.51
4  MAC000291  2012-03-02 11:30:00.0000000         0.455

In [52]:
print(data.shape)
print(data.iloc[4999:,:])

(1591187, 3)
             LCLid                         tstp energy(kWh/hh)
4999     MAC000291  2012-06-14 13:00:00.0000000         0.149
5000     MAC000291  2012-06-14 13:30:00.0000000         0.149
5001     MAC000291  2012-06-14 14:00:00.0000000         0.149
5002     MAC000291  2012-06-14 14:30:00.0000000         0.148
5003     MAC000291  2012-06-14 15:00:00.0000000         0.147
...            ...                          ...            ...
1591182  MAC005399  2014-02-27 22:00:00.0000000          0.121
1591183  MAC005399  2014-02-27 22:30:00.0000000          0.033
1591184  MAC005399  2014-02-27 23:00:00.0000000          0.066
1591185  MAC005399  2014-02-27 23:30:00.0000000          0.082
1591186  MAC005399  2014-02-28 00:00:00.0000000           0.14

[1586188 rows x 3 columns]

In [31]:
# Renaming the columns
data.columns = ['LCLid', 'DateTime', 'KWh']
data[:5]

       LCLid                     DateTime      KWh
0  MAC000291  2012-03-02 09:30:00.0000000   1.158
1  MAC000291  2012-03-02 10:00:00.0000000   1.499
2  MAC000291  2012-03-02 10:30:00.0000000   1.433
3  MAC000291  2012-03-02 11:00:00.0000000    0.51
4  MAC000291  2012-03-02 11:30:00.0000000   0.455

In [36]:
# Creating date, time related columns, dropping milli second
data['DateTime'] = pd.to_datetime(data['DateTime'])
# data['year'] = data['DateTime'].dt.year
# data['month'] = data['DateTime'].dt.month
# data['day'] = data['DateTime'].dt.day
# data['hour'] = data['DateTime'].dt.hour
# data['date'] = data['DateTime'].dt.date
data[:5]

       LCLid            DateTime      KWh
0  MAC000291 2012-03-02 09:30:00   1.158
1  MAC000291 2012-03-02 10:00:00   1.499
2  MAC000291 2012-03-02 10:30:00   1.433
3  MAC000291 2012-03-02 11:00:00    0.51
4  MAC000291 2012-03-02 11:30:00   0.455

In [41]:
# Deleting rows with iloc
data = data.iloc[0:5000,:]
print(data.iloc[:,:])

          LCLid            DateTime      KWh
0     MAC000291 2012-03-02 09:30:00   1.158
1     MAC000291 2012-03-02 10:00:00   1.499
2     MAC000291 2012-03-02 10:30:00   1.433
3     MAC000291 2012-03-02 11:00:00    0.51
4     MAC000291 2012-03-02 11:30:00   0.455
...         ...                 ...      ...
4995  MAC000291 2012-06-14 11:00:00   0.147
4996  MAC000291 2012-06-14 11:30:00   0.148
4997  MAC000291 2012-06-14 12:00:00   0.149
4998  MAC000291 2012-06-14 12:30:00    0.15
4999  MAC000291 2012-06-14 13:00:00   0.149

[5000 rows x 3 columns]
(5000, 3)

In [45]:
data = data.to_csv('./block_12 - adeel.csv')